body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #6f838a;
}

.main-container {
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    width: 800px;
    height: 450px;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -225px;
    background-color: #4A4A4A;
    color: #333333;    
}

.left-column-container {
    width: 40%;
    height: 100%;
    background: #EAEAEA;
    position: relative;
    float: left;
}

.events-content{
    padding: 20px 30px;
}
.events-content h1{
    font-weight: 300;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.events-content h2{
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.events-content span{
    display: block;
}

.add-event{
    float: right;
    margin-top: 6px;
    border: none;
    font-size: 16px;
    background: #EAEAEA;
    /* display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid red; */
}

.events p{
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(19, 18, 18, 0.4);
}

.event-list{
    margin: 0;
    padding: 0;
}

/* Calendar Side ---- */

.right-column-container {
    width: 60%;
    position: relative;
    float: left;
    height: 100%;
}

.calendar-content{
    padding: 20px 40px;
}
.year {
    color: #d1d4d4;
    text-align: right;
    margin-bottom: 50px;
}

.weekday, .month{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 0px 40px;
}

.days{
    margin-left: -10px;
}

.main-container ul li {
	list-style: none;
}

.main-container .month li,
.main-container .weekday li,
.main-container .days li{
    float: left;
    text-transform: uppercase;
    display: block;
    justify-content:space-around;
    line-height: 13px;
    font-weight: 300;
    font-size: 9px;
}

.main-container .month,
.main-container .weekday{
    display: flex;
    font-size: 12px;
}
.main-container .month{
    color: #696969;
}

.main-container .weekday{
    color: #d1d4d4;
}

.main-container .month li{
    width: 55px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}
.main-container .weekday li{
    width: 55px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.main-container .days li{
    width: 55px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}
.today{
    background-color: #F5A1A3!important;
    color: #ffffff;
}

.calendar-day{
    display: block;
    color: #d1d4d4;
    text-decoration: none;
}